<!-- <div class="form-structure">
  <h1>LOGIN</h1>

<div class="frm">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>Username:</label><br>
    <input type="text" name="username" formControlName="username" class="col-form-label">
    <span class="error" *ngIf="username && username.invalid && (username.dirty || username.touched)">Username is required!</span> <br>

    <label>Password:</label><br>
    <input type="password" name="password" formControlName="password" class="col-form-label">
    <span class="error"  *ngIf="password && password.invalid && (password.dirty || password.touched)">Password is required!</span><br><br>

    <button type="submit" class="btn btn-primary">Login</button>

  </form>
</div> -->

<!-- {{loginForm.value | json}} -->

<div class="form-structure">

  <div class="center">
    <h2 class="form-title">Log in</h2>
  </div>

  <div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="input-fields">
        <input type="text" class="input" name="username" placeholder="Username" formControlName="username">
        <span class="error" *ngIf="username && username.invalid && (username.dirty || username.touched)">Username is required!</span> <br>

        <input type="password" class="input" name="password" placeholder="Password" formControlName="password">
        <span class="error"  *ngIf="password && password.invalid && (password.dirty || password.touched)">Password is required!</span><br><br>

        <button type="submit" class="submit-btn">Login</button> <br>

        <a routerLink="/signup">Sign up</a>

      </div>
    </form>
  </div>
</div>
